<div class="post-list">
  {{#foreach posts}}
  <article class="post-list__post">
    <a href="{{ url }}" title="{{ title }}">
      {{#if feature_image}}
        {{#has number="1, 2"}}
          <img class="post-list__image" src="{{feature_image}}" alt="" />
        {{else}}
          <img class="post-list__image" data-src="{{feature_image}}" alt="" />
        {{/has}}
      {{/if}}
      <div class="post-list__text">
        <p class="post-list__time">
          <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </p>
  			<h2 class="post-list__post-title">{{ title }}</h2>
      </div>
  	</a>
  </article>
  {{/foreach}}
</div>

{{pagination}}
