{{!< default}}

<section class="main-content main-content__page">

  <article class="{{post_class}}">
  {{! Everything inside the #post tags pulls data from the post }}
  {{#post}}

    <div class="featured-header">
      {{#if feature_image}}
        <img class="featured-image" src="{{feature_image}}" alt="{{title}}" />
      {{/if}}

      <div class="header-inner post-header-inner">
        <h1 class="post-title entry-title">
          {{title}}
        </h1>
      </div>
    </div>

    <div class="inner post-inner">
      {{content}}
      <div class="meta-hold">
    </div>

    {{/post}}
  </article>

</section>
