{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<section class="main-content">
  <article class="{{post_class}}">
    {{! Everything inside the #post tags pulls data from the post }}
    {{#post}}

    <div class="post-top">
      <div class="post-header">
        {{#if feature_image}}
          <img class="featured-image" src="{{feature_image}}" alt="{{title}}" />
        {{/if}}

        <div class="post-header-inner">
          <time class="post-date updated" datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="MMMM DD, YYYY"}}
          </time>
          <h2 class="post-title entry-title">
            {{title}}
          </h2>
        </div><!-- /post-header-inner -->
      </div><!-- /post-header -->
    </div><!-- /post-top -->

    <div class="inner post-inner">
      <div class="post-after-header">
        {{>post-social-share}}
      </div>

      <div class="content">
        {{content}}
      </div>

      <img class="bug" src="{{@blog.logo}}" alt="{{@blog.title}} Logo" />
    </div> <!-- post-inner -->

    {{/post}}
  </article>
</section>
